image: cnrancher/k8s-net-attach-def-controller:{{build.tag}}
manifests:
  -
    image: cnrancher/k8s-net-attach-def-controller:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: cnrancher/k8s-net-attach-def-controller:{{build.tag}}-linux-arm64
    platform:
      architecture: arm64
      os: linux

